/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="assets/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "reset/reset";
@import "reset/utilities";

// Mixins
@include global-reset;
@include global-styles;

// Default Colours
$cWhite: #ffffff;
$cBlack: #000000;
$cLightGrey: #f2f2f2;
$cDarkGrey: #dadada;
$cHeader: #0093d0;
$cBorder: #dfdfdf;

// Font Colours
$cFont: #666666;
$cLink: #999999;

// Primary and Secondary Colours
$cPrimary: #497eac;
$cSecondary: #6ba0ce;

// Notification Colours
$cInfo: #dce7ed;
$cWarning: #ededdc;
$cError: #ad6262;

// Styles
html, body {
  height: 100%;
  overflow: hidden;
}

html {
  margin: 0 auto;
  line-height: normal;
}

body {
  margin: 0;
  background: $cDarkGrey;
  color: $cFont;
  font-family: "HelveticaNeue", "Lucida Grande", sans-serif;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p {
  line-height: 20px;
  margin-bottom: 14px;
}

p.warning {
  background: $cWarning;
  font-style: italic;
  line-height: 16px;
  padding-left: 25px;
  margin-left: 1px;
}

a {
  color: $cLink;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

strong {
  font-weight: bold;
}

input {
  outline: none;
}

section {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

// Extensions
.container {
  width: inherit;
  height: 100%;
}

.nomargin {
  margin: 0;
}

.blue {
  color: $cInfo;
}

.amber {
  color: $cWarning;
}

.red {
  color: $cError;
}

.clear {
  clear: both;
}

.top {
  position: absolute;
  top: 0;
  left: 0;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
	margin: 0 auto;
}

.touch {
  -webkit-overflow-scrolling: touch;
}

.fade {
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}

.fade.in {
	opacity: 1;
}

.fade.out {
	opacity: 0;
}

// Progress
#nprogress {
  pointer-events: none;
  -webkit-pointer-events: none;
}

#nprogress .bar {
  position: fixed;
  width: 100%;
  height: 2px;
  background-color: #1BDB85;
  top: 0;
  left: 0;
  z-index: 9999;
}

#nprogress .spinner-icon {
  display: none;
}

// Modal
.modal {
	position: fixed;
	margin-top: -100px;
	margin-left: -150px;
	width: 300px;
	height: 200px;
	top: 50%;
	left: 50%;
}

// Header
.masthead {
  padding: 23px 14px;
  width: 100%;
  background: $cHeader;
  color: $cWhite;
  text-align: center;
}

.masthead h1 {
  display: inline-block;
}

.masthead .action {
  padding-top: 3px;
  display: inline-block;
  cursor: pointer;
}

.masthead .empty {
  margin-right: 20px;
}

.masthead i {
  color: $cWhite;
  font-size: 18pt;
}

// Primary navigation
nav#primary {
  background: $cWhite;
  height: 100%;
  width: 100%;
  z-index: 999;
}

nav#primary ul {
  position: absolute;
  border-bottom: 1px solid $cWhite;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  top: 75px;
}

nav#primary ul li a {
  display: block;
  padding: 28px 14px;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  color: $cFont;
  border-bottom: 1px solid $cBorder;
  text-decoration: none;
  text-transform: uppercase;
}

nav#primary ul li a:hover {
  background: $cLightGrey;
}

nav#primary ul li.active a {
  background-color: $cPrimary;
  background-image: -webkit-gradient(linear, left top, left bottom, from($cSecondary), to($cPrimary));
  background-image: -webkit-linear-gradient(top, from($cSecondary), to($cPrimary));
  background-image: -moz-linear-gradient(top, from($cSecondary), to($cPrimary));
  background-image: -o-linear-gradient(top, from($cSecondary), to($cPrimary));
  background-image: -ms-linear-gradient(top, from($cSecondary), to($cPrimary));
  background-image: linear-gradient(top, from($cSecondary), to($cPrimary));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$cSecondary', EndColorStr='$cPrimary');
  border-bottom: 1px solid #467cad;
  border-top: 1px solid #699fd0;
  color: $cWhite;
  text-shadow: 0 1px 0 #104266;
}

nav#primary ul li:first-child a {
  border-top: none;
}

// Logo
nav#primary header #logo {
	padding: 10px 10px 0 10px;
	width: 100%;
	background: $cHeader;
	text-align: center;
	
	& img {
		width: 80%;
	}
}

// Search
nav#primary div#search {
	padding: 0 10px 10px 10px;
	background: $cHeader;
}

#searchbox input {
	width: 100%;
}

// Video
#conversation {
	width: 100%;
	height: 100%;
}

.remoteContainer {
	position: relative;
	background: #000000;
	overflow: hidden;
	color: #FFFFFF;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.localContainer {
	position: absolute;
	border: 1px solid #CCCCCC;
	bottom: 0px;
	right: 0px;
	width: 300px;
	height: 226px;
	z-index: -1;
}

video {
  position: relative;
  width: 100%;
  height: 100%;
}

// Widgets
.widget {
  padding: 4px 8px;
  margin: 8px;
  text-align: center;
  border-radius: 5px;
}

.count {
  background-color: red;
  font-size: 12pt;
}

// Flash Alerts
.flash {
  display: none;
  text-align: center;
}

.flash.alert {
  color: #a6a450;
}

// Notifications
#notifications {
  background: #f1f1f1;
  bottom: 0;
  display: none;
  margin-bottom: -1px;
  min-height: 48px;
  overflow: hidden;
  position: absolute;
  text-align: right;
  width: 251px;
}

#notifications > a {
  background: $cBlack;
  display: block;
  font-size: 11px;
  padding-bottom: 20px;
  padding-right: 8px;
  text-decoration: none;
  text-transform: lowercase;
  text-shadow: 0 1px 0 $cWhite;
  position: relative;
  z-index: 2;
}

#notifications ul {
  bottom: 0;
  text-align: left;
  padding-bottom: 6px;
  position: absolute;
}

#notifications ul li {
  line-height: 28px;
  margin-bottom: -6px;
  padding-left: 8px;
  position: relative;
}

#notifications ul li.error {
  color: #ad6262;
}

#notifications ul li span {
  margin-right: 4px;
}

#notifications .time {
  color: #bbb;
  font-size: 11px;
  position: absolute;
  right: 4px;
  top: 5px;
}

// Obtrusive notifications
.notification {
  border-radius: 2px;
  font-size: 11px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 7px;
  padding: 0 14px 0 9px;
  position: relative;
  text-transform: uppercase;
}

.notification .close {
  font-weight: bold;
  position: absolute;
  right: 10px;
  text-decoration: none;
}

.notification .icon {
  display: block;
  float: left;
  margin-right: 7px;
  height: 24px;
}

.notification.success {
  background: #deeddc;
  color: #5ba54f;
  text-shadow: 0 1px 0 #d6fdcf;
}

.notification.success .icon {
  // Add a tick shape
}

.notification.success .close {
  color: #5ba54f;
}

.notification.error {
  background: #eddcdc;
  color: #a54f4f;
  text-shadow: 0 1px 0 #fdcfcf;
}

.notification.error .icon {
  // Add a cross shape
}

.notification.error .close {
  color: #a54f4f;
}

.notification.information {
  background: #dce7ed;
  color: #5089a6;
  text-shadow: 0 1px 0 #cfedfc;
}

.notification.information .icon {
  // Add an question mark
}

.notification.information .close {
  color: #5089a6;
}

.notification.warning {
  background: #ededdc;
  color: #a6a450;
  text-shadow: 0 1px 0 #fcfccf;
}

.notification.warning .icon {
  // Add a exclamation mark
}

.notification.warning .close {
  color: #a6a450;
}

// Forms
form .inputgroup {
  position: relative;
  margin: 0 0 20px;
  width: 100%;
  clear: both;
}

form .actiongroup {
  clear: both;
  overflow: hidden;
}

form .inputgroup input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 20px;
  outline: 0;
  background: #FBFBFB;
  border: 1px solid #CCC;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 2px #ECECEC;
  -moz-box-shadow: inset 0 1px 2px #ECECEC;
  -o-box-shadow: inset 0 1px 2px #ECECEC;
  box-shadow: inset 0 1px 2px #ECECEC;
}

form .inputgroup .addon {
  padding: 10px;
  border: 1px 1px 1px 0 solid #CCC;
}

@import "responsive/screen-responsive-768px";
@import "responsive/screen-responsive-992px";
@import "responsive/screen-responsive-1200px";