<!-- Primary navigation -->
<nav id="primary">
	<div id="users-header">
		<header class="masthead">
			<h1>{{t users.title}}<span class="widget count">{{controller.controllers.users.usersCount}}</span></h1>
		</header>
	</div>
	<div id="users-list touch">
		{{outlet}}
	</div>
</nav>

<!-- Main section -->
<section id="maincontainer">
	{{#base-modal}}This is the content of the modal{{/base-modal}}
	<div id="conversation">
		{{view Conpherence.VideoView}}
	</div>
</section>