<div id="conversation">
	<!-- Video elements -->
	<div class="remoteContainer">
		<video id="remote" autoplay width="100%" height="100%">Not Supported</video>
	</div>
	<div class="localContainer">
		<video id="local" autoplay width="100%" height="100%"></video>
	</div>
</div>